@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    @apply bg-gray-200;
}
.content {
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    max-width: 900px;
}

h1 {
    @apply text-3xl;
    @apply font-bold;
}

.remaining {
    font-size: 100px;
}
.schemas {
    list-style-type: none;
    li {
        margin-bottom: 10px;
    }
}

.current {
    @apply font-bold;
    @apply border-2;
    @apply border-teal-400;
}
